.el-tooltip__trigger:focus-visible {
  outline: unset;
}

/*或者是下面这个*/

.el-tooltip__trigger:first-child:focus-visible {
  outline: unset;
}

.status-wrapper {
  margin: 20px auto;
  width: 315px;
  text-align: center;
  p {
    margin: 30px 0;
  }
}